@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes moveUpDown {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
  }
  
  /* Apply animation to your SVG */
  .animated-arrow {
    animation: moveUpDown 1.5s ease-in-out infinite;
  }



  .h-custom {
    height: 600px;
  }



  .h-card{
    height: 100px;
    min-width: 200px;
  }

  .h-height100 {
    height: 400px;
  }

  .h-article{
    height: 400px;
  }